{% extends CMS_TEMPLATE %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'flipbook/dflip/css/themify-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'flipbook/dflip/css/dflip.min.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<script>
    var url = "{% static 'flipbook/dflip/' %}";
</script>
<script src="{% static 'flipbook/dflip/js/dflip.js' %}"></script>

    <div style="width:100%">
        <!-- List of uploaded documents -->
        {% if documents %} 
            {% for document in documents %}
            <div class="_df_thumb" id="df_manual_thumb" tags="{{ document.flipbook_title }}" source="{{ document.flipbook_document.url }}" thumb="{{ document.flipbook_image.url }}">
                {{ document.flipbook_title }}
            </div>
            {% endfor %}
        {% else %}
            <p>No documents.</p>
        {% endif %}
    </div>
{% endblock content %}
